.table-bordered-panexlogi {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-bordered-panexlogi td,
.table-bordered-panexlogi th {
    border: 1px solid black;
    padding: 8px;
}